* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e10600;
    color: white;
    padding: 10px 20px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
main {
    flex: 1;
    padding: 20px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.solution-comparison {
    padding: 20px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

p{
    margin-bottom: 20px;
}

.solution-comparison h2 {
    color: #E53935;
    margin-bottom: 20px;
}

.rewards-examples {
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.rewards-examples h2 {
    color: #E53935;
    margin-bottom: 10px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.product {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    max-width: 50%;
}

footer {
    background-color: #e10600;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-weight: bold;
}

.seçao {
    background-color: #e10600;
    padding: 10px;
    text-align: center;
}

.seçao a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
